data/
*.tgz
.DS_Store/
.vscode/
.ipynb_checkpoints/
__pycache__
_cache*
runs/
*.npy
*.pt
_cache*
*.png
lib/config/__pycache__/
lib/models/__pycache__/
lib/modules/__pycache__/
lib/utils/__pycache__/
tools/__pycache__/
log/
saved_imgs*
output/
slurm-*
*.pyc
*__pycache__*
paper_plots/
*.py
